<?xml version='1.0'?>
<model>
  <name>biprob</name>
  <version>1.0.0</version>
  <author>
    <name>Paulo Filho</name>
    <email>paulo.ecomp@gmail.com</email>
  </author>
  <author>
    <name>Paulo Filho</name>
    <email>paulo.ecomp@gmail.com</email>
  </author>
  <sdf>urdf/biprob.urdf</sdf>
  <description>
    Describes Biprob robot model
  </description>
</model>
